<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Primmobilier{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

      {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{{ path('admin.property.index') }}" class="nav-link">Administration</a>
            </li>
            <li class="nav-item">
              <a href="{{ path('admin.option.index') }}" class="nav-link">Options</a>
            </li>
            <li class="nav-item">
              <a href="{{ path('app_logout') }}" class="nav-link">Se deconnecter</a>
            </li>
          </ul>
        </nav>  
      {% endif %}
      {% block body %}{% endblock %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <script>
          $('select').select2();
          var optionSelect = $('#options');
          if (optionSelect !== null) {
              optionSelect.select2({
                  placeholder: "Options",
                  allowClear: true
              });
          }
          var optionSelect = $('#distance');
          if (optionSelect !== null) {
              optionSelect.select2({
                  placeholder: "Distance",
                  allowClear: true
              });
          }
      </script>
    </body>
</html>
